.branding {
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
  padding: 24px 0;
}

.logoLight {
  display: block;
}

.logoDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .logoLight {
    display: none;
  }
  .logoDark {
    display: block;
  }
  .branding {
    color: #fff;
  }
}
