.branding {
  padding: 24px 0;
}

.branding a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
}

.logoLight {
  display: block;
}

.logoDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .logoLight {
    display: none;
  }
  .logoDark {
    display: block;
  }
  .branding {
    color: #fff;
  }
  .branding a {
    text-decoration: none;
    color: #fff;
  }
}
