body,
html,
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body > div {
  display: flex;
  flex-direction: column;
}

article {
  display: grid;
  grid-template-columns: subgrid;
}

p,
img,
h1,
pre,
code,
h2 {
  line-height: 1.75;
  letter-spacing: 0.5px;
  grid-column: 1 / 7 !important;
}

article img {
  width: 100%;
}

article h1,
article h2,
article strong {
  color: #fff;
}

a {
  font-weight: bold;
  color: #000;
}

code,
pre {
  font-size: 0.8rem;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 12px;
  overflow-x: auto;
  background-color: #111;
  border-radius: 0.5rem;
  color: #ccc;
}

code {
  padding: 0 12px;
}

@media (min-width: 600px) {
  p,
  h2,
  h1,
  code,
  pre {
    grid-column: 2 / 6 !important;
  }

  pre {
    padding: 24px;
  }
}

@media (min-width: 1313px) {
  p,
  h2,
  h1,
  code,
  pre {
    grid-column: 4 / 10 !important;
  }
}

@media (prefers-color-scheme: dark) {
  .branding {
    img {
      filter: invert(1);
    }
  }

  body {
    background: #090909;
    color: #7b7d7d;
  }

  a {
    color: pink;
  }
}
