.grid {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.grid > * {
  grid-column: span 6;
}

.grid ul {
  display: grid;
  grid-column: span 12;
  grid-template-columns: subgrid;
}

.grid li {
  grid-column: span 6;
}

@media (min-width: 600px) {
  .grid {
    padding: 0 2rem;
  }
  .grid li {
    grid-column: span 4;
  }
}

@media (min-width: 1313px) {
  .grid {
    padding: 0 10%;
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > * {
    grid-column: span 12;
  }
}
