---
interface Props {
  seo: {
    keywords: string;
    description: string;
    title: string;
    sitename: string;
    url: string;
    imageurl: string;
    imageAlt: string;
  };
}

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Jonathan Hamilton - {seo.title}</title>
  </head>
  <body><slot /></body>
</html>
