.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #f1f1f1;
  border-radius: 16px;
  min-height: 200px;
  text-decoration: none;
  color: #111;
  font-weight: lighter;
  margin-bottom: 24px;
}

.card h2 {
  line-height: 100%;

  margin: 0;
  font-size: 2rem;
}

.card header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 16px;
}

.card p {
  color: #666;
  font-size: 1rem;
  margin: 0;
}

.meta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  font-size: 0.8rem;
  color: #666;
}

@media (min-width: 600px) {
  .grid {
    padding: 0 2rem;
    grid-template-columns: repeat(9, 1fr);
  }

  .grid > * {
    grid-column: span 9;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background: #111112;
    color: #7b7d7d;
  }
}
