---
import "../system/404.css";
import Meta from "../components/SEO/Meta.astro";
import Particles from "../components/Particles/ParticlesComp.astro";
const seo = {
  title: "You have entered the 404 zone",
  keywords: "404",
  description:
    "You unlock this door with the key of imagination, beyond it is another dimension. A dimension of sound, a dimension of sight, a dimension of mind. You're moving into a land of both shadow and substance, of things and ideas. You've just crossed over into . . . The 404 Zone.",
  sitename: "Jonathan Hamilton's blog",
  url: "https://blog.madebyjonny.com",
  imageurl: "https://blog.madebyjonny.com/api/my-blog/og.png",
  imageAlt: "banner for the blog",
};

Astro.response.status = 404;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"
    ></script>
    <link rel="manifest" href="/manifest.json" />
    <Meta data={seo} />

    <title>Jonathan Hamilton - You have entered the 404 zone</title>
  </head>
  <body>
    <img src="/404zone.svg" alt="404 page" width="50%" class="zone" />
    <a href="/" class="btn hover">
      <span class="btn-content">
        <span class="btn-text"> Exit</span>
      </span>
    </a>
    <img src="/eye.svg" alt="eye" width="100px" class="eye hover" aria-hidden />
    <img
      src="/door.svg"
      alt="door"
      width="20%"
      class="door hover"
      aria-hidden
    />
    <img
      src="/emc2.svg"
      alt="e=mc2"
      width="20%"
      class="emc2 hover"
      aria-hidden
    />

    <Particles />
  </body>
</html>
