---
import { getCollection } from "astro:content";
import { Heading } from "../components/Heading/Heading.tsx";
import Layout from "../components/Layout/Layout.astro";

const posts = (await getCollection("posts")) as {
  slug: string;
  data: { title: string };
}[];

const seo = {
  title: "Blog",
  keywords: "tech",
  description: "My blog",
  sitename: "Jonathan Hamilton's blog",
  url: "https://example.com/blog",
  imageurl: "https://example.com/og-image.jpg",
  imageAlt: "banner for the blog",
};
---

<Layout seo={seo}>
  <Heading type="h1" variant="primary">my blog</Heading>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
