---
import { getCollection } from 'astro:content'
import { Heading} from '../components/Headings/heading.tsx'
const posts = await getCollection('posts') as { slug: string, data: { title: string } }[]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Heading level={1}>my blog</Heading>
		<ul>
			{posts.map(post => (
			  <li>
				<a href={`/posts/${post.slug}`}>{post.data.title}</a>
			  </li>
			))}
		  </ul>
	</body>
</html>